numpy==1.22.3
pandas==1.4.2
bs4==0.0.1
fastapi==0.75.1
uvicorn[standard]
python-multipart==0.0.5
jinja2==3.1.1
pymongo==4.0.2
dnspython==2.2.1
requests==2.27.1
matplotlib==3.5.1
wordcloud==1.8.1
plotly==5.7.0