body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: black;

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    -ms-transform: translateY(700%);
    transform: translateY(700%);

    margin: 0 auto;
    width: 400px;
}
body {
  background: url(https://www.mepixels.com/cache/b7da43d2/minimalist-4k-desktop-background-1140x1140-rExcgaSAE.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
    background-color: black;
}